@import '../../scss/variables';
.btn {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  border: none;
  border-radius: 5px;
  height: 45px;
  font-size: 14px;
}

.btn:hover {
cursor: pointer;
}

//--------Button Styles

.btn--primary {
  color: $primaryDark2Color;
}

.btn--outline {
  background-color: transparent;
  color: $realWhite;
  border: solid 1px;
}
.btn--submit{
  background: $hyperBlue;
  color: $realWhite;
}

//-------Button sizes

.btn--large {
  padding: 12px 26px;
  font-size: 20px;
}

.btn--medium {
  padding: 8px 20px;
  font-size: 18px;
}

.btn--small {
  border-radius: 4px;
  width: 80%;
  font-size: .8rem;
  padding: 14px 20px;
}

.btn--wide {
  padding: 12px 64px;
  font-size: 20px;
  width: 100%;
}

//--------Button colors

.btn-link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 8px 16px;
  height: 100%;
  width: 100%;
}

.blue {
  background-color: #276afb;
  color: #fff;
  border: none;
}

.red {
  background-color: #f00946;
  color: #fff;
  border: none;
}

.primary {
  background-color: #242424;
  color: #fff;
  border: none;

  &:hover {
    // background-color: $realWhite;
    // color: #242424;
    // border: none;
  }
}

.green {
  background: #25ce4a;
  color: #fff;
  border: none;

  &:hover {
    background-color: #242424;
  }
}
