@import '../../scss/variables';
.btn {
  font-size: 1rem;
  margin-bottom: 0;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border-radius: 5px;
  
  width: fit-content;
}

.btn:focus,
.btn:active:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
.btn:hover,
.btn:focus {
    color: #333;
    text-decoration: none;
}
.btn:active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

//--------Button Styles

.btn--primary {
  color: $primaryDark2Color;
}

.btn--outline {
  background-color: transparent;
  color: $realWhite;
  border: solid 1px;
}
.btn--submit{
  background: $hyperBlue;
  color: $realWhite;
  font-weight: 700;
  text-transform: uppercase;
}

//-------Button sizes

.btn--large {
  padding: .8rem 1rem;
  font-size: 1.2rem;
}

.btn--medium {
  padding: .5rem 1rem;
}

.btn--small {
  font-size: .8rem;
  padding: .5rem;
}

.btn--wide {
  width: 100%;
}
