::selection {
  background-color: #242424;
}

#busicard {
  position: relative;
  background: linear-gradient(to left, #00D2C8, #1A8A9D);
  border-radius: 35px;
  min-height: 580px;
  max-width: 440px;
  margin: 40px auto;

  h1 {
    color: #FAEAFF;
  }
}

.movembar {
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  align-items: flex-start;
}

.movegear {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: -2px;
}

.mbar {
  width: 18px;
  height: 3px;
  background: #FAEAFF;
  position: absolute;
  margin: 35px;

  &:before {
    content: '';
    width: 12px;
    height: 3px;
    background: #FAEAFF;
    position: absolute;
    top: 6px;
    left: 0;
  }

  &:after {
    content: '';
    width: 18px;
    height: 3px;
    background: #FAEAFF;
    position: absolute;
    top: 12px;
    left: 0;
  }
}

.mbut:hover .mbar {
  background: #2F4858;

  &:before, &:after {
    background: #2F4858;
  }
}

.user {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  user-select: none;

  img {
    border-radius: 100px;
    width: 160px;
    border: 4px solid #FAEAFF;
    margin-top: -20px;
  }
}

.gear {
  background-image: radial-gradient(at center center, #00D2C8 23%, #eee 25%, #FAEAFF 57%, transparent 53%), linear-gradient(0deg, transparent 43%, #eee 40%, #FAEAFF 60%, transparent 60%), linear-gradient(45deg, transparent 43%, #eee 43%, #FAEAFF 57%, transparent 57%), linear-gradient(90deg, transparent 40%, #eee 40%, #FAEAFF 60%, transparent 60%), linear-gradient(135deg, transparent 43%, #eee 43%, #FAEAFF 57%, transparent 57%);
  width: 22px;
  height: 22px;
  border-radius: 50%;
  margin: 35px;

  &:hover {
    background-image: radial-gradient(at center center, #00D2C8 23%, #242424 25%, #2F4858 57%, transparent 53%), linear-gradient(0deg, transparent 43%, #242424 40%, #2F4858 60%, transparent 60%), linear-gradient(45deg, transparent 43%, #242424 43%, #2F4858 57%, transparent 57%), linear-gradient(90deg, transparent 40%, #242424 40%, #2F4858 60%, transparent 60%), linear-gradient(135deg, transparent 43%, #242424 43%, #2F4858 57%, transparent 57%);
  }
}

.info li {
  color: #eee;
  font-size: 0.8em;
  display: inline-block;
  margin: 0 6px;
}

.hrtop {
  display: inline-block;
  background-color: #FAEAFF;
  width: 2px;
  height: 22px;
  margin: -2px auto;
}

.contacts {
  min-height: 100px;

  i {
    display: inline-block;
    margin: 20px 0;
  }

  a {
    margin: 0 6px;
  }
}

.bfollow {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  margin: 25px 0 0 0;

  a {
    position: absolute;
    box-shadow: 0 0 15px 1px #000;
    color: #FAEAFF;
    background-color: #2F4858;
    border-radius: 30px;
    padding: 7px 49px;
    transition: 350ms;
    -webkit-transition: all .3s;

    &:hover {
      font-weight: bold;
      color: #2F4858;
      background-color: #FAEAFF;
      padding: 8px 56px;
      transition: 350ms;
      -webkit-transition: all .3s;
    }
  }
}

.content {
  color: #FAEAFF;
  background: linear-gradient(to bottom, #2F4858, #2C687C);
  border-radius: 0 0 30px 30px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p {
    margin: 30px 0 25px 0;
  }
}

.lock {
  width: 26px;
  height: 16px;
  background: #FAEAFF;
  position: relative;
  border-radius: 4px;
  top: 30px;

  &:before {
    content: '';
    width: 6px;
    height: 6px;
    background: transparent;
    border: 6px solid #FAEAFF;
    border-bottom: 0;
    border-radius: 6px 6px 0 0;
    position: absolute;
    bottom: 16px;
    right: 4px;
  }
}

a {
  .fa {
    font-size: 36px;
    transition: 500ms;
  }

  &:hover .fa {
    color: #2F4858;
    transition: 500ms;
  }

}


// ----------------------------------


*{
      list-style: none;
}
.employee-card{

    background: linear-gradient(to left, #582725, #9d1a1a);
    border-radius: 33px;
    display: flex;
    flex-direction: column;
    min-width: 320px;
    max-width: 400px;
    justify-content: flex-start;
    align-items: center;
    margin: 10px;


}

.employee-logo img{
    border-radius: 100px;
    width: 160px;
    border: 4px solid #FAEAFF;
    margin-top: -20px;
}


.employee-menu{
    width: 100%;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 15px;
}

.right-options{
  padding:15px;
}
.right-options:hover{
  opacity: 0.7;
}
.left-options{
  padding:15px;
}

.left-options:hover{
  opacity: 0.7;
}
.employee-info {
    color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
.employee-info h2{
    color: #eee;
    font-weight: 800;
}

.employee-role{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    margin: 40px 0 0 0
}
.employee-role p{
    position: absolute;
    box-shadow: -2px 5px 16px 4px rgb(0 0 0 / 29%);
    color: #FAEAFF;
    background-color: #2F4858;
    border-radius: 30px;
    padding: 7px 49px;
    transition: 350ms;
    -webkit-transition: all 0.3s;
    font-weight: 600;
}
.employee-footer{
    background: transparent;
    width: 100%;
    border-radius: 0px 0px 33px 33px;
    height: 44px;
}