@import '/src/scss/variables';


.footer{
    
    a{
        color: $textColor;
        text-decoration-line: none; 
        font-weight: 800; 
        transition: all 0.25s ease;
        &:hover{
            color: $primaryColor; 
        }
    }
}

.social{
    margin-bottom: 15px;
    display: flex;
    align-items: flex-end;
    
    svg{
        color: $textColor;
        margin: 0 7px;
        transition: all 0.25s ease;
        &:hover{
            color: $primaryColor;
        }
    }
}