@import '/src/scss/variables';
@import '/src/scss/animations';

.footer{
    
    a{
        color: $textColor;
        text-decoration-line: none; 
        font-weight: 800; 
        transition: all 0.25s ease;
        &:hover{
            color: $primaryColor; 
        }
    }
}

.social{
    margin-bottom: 15px;
    display: flex;
    align-items: flex-end;
    
    svg{
        color: $textColor;
        margin: 0 7px;
        transition: all 0.25s ease;
        &:hover{
            color: $primaryColor;
        }
    }
}

.btn-scroll{
    position: fixed;
    bottom: 24px;
    right: 15px;
    background: $primaryColor;
    border: 0px solid;
    line-height: 1;
    padding: 1em 1em;
    border-radius: 12px;
    color: #fff !important;
    animation: 1s ease 1 fade-in-top;
    z-index: 2000;
}