
  
  .login-container {

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  
  .login__form {
    background: #fff;
    color: #333;
    font-family: "Open Sans", sans-serif;
    border-radius: 5px;
  
    .login__header {
      padding-top: 30px;
      text-align: center;
      margin-bottom: 60px;
  
      .login__title {
        font-size: 24px;
        font-weight: 400;
      }
    }
  
    .login__main {
      max-width: 80%;
      margin-left: auto;
      margin-right: auto;
  
      .login__group {
        position: relative;
  
        .login__input {
          margin-top: 50px;
          padding: 10px 10px 10px 5px;
          color: #333;
          font-family: "Open Sans", sans-serif;
          width: 100%;
          font-size: 16px;
          display: block;
          border: none;
          border-bottom: 1px solid #d0dce7;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
  
          &:focus {
            outline: none;
  
            ~ label {
              top: -20px;
              font-size: 12px;
              text-transform: uppercase;
            }
          }
  
          &:valid ~ label {
            top: -20px;
            font-size: 12px;
            text-transform: uppercase;
          }
        }
  
        .login__label {
          color: #333;
          font-family: "Open Sans", sans-serif;
          font-size: 16px;
          font-weight: 400;
          position: absolute;
          pointer-events: none;
          left: 5px;
          top: 10px;
          -webkit-transition: .2s ease all;
          transition: 0.2s ease all;
        }
      }
  
      .login__terms {
        font-size: 14px;
        color: #a8b8c4;
        margin: 40px auto;
        line-height: 19px;
  
        a {
          text-decoration: none;
          color: #007ee5;
        }
      }
    }
  
    .login__button {
      font-family: "Open Sans", sans-serif;
      font-weight: 700;
      text-transform: uppercase;
      width: 100%;
      background: #007ee5;
      border: none;
      border-radius: 5px;
      color: #fff;
      height: 45px;
      font-size: 14px;
      bottom: 0;
      position: absolute;
    }
  }
  
  .login__button:hover {
    cursor: pointer;
  }
  
  .login__bar {
    position: relative;
    display: block;
  
    &:before, &:after {
      content: '';
      height: 2px;
      width: 0;
      bottom: 1px;
      position: absolute;
      background: #007ee5;
      transition: .2s ease all;
      -moz-transition: .2s ease all;
      -webkit-transition: 0.2s ease all;
    }
  
    &:before {
      left: 50%;
    }
  
    &:after {
      right: 50%;
    }
  }
  
  input:focus ~ .login__bar {
    &:before, &:after {
      width: 50%;
    }
  }
  
  @media (min-width: 620px) {
    .login-container {
      background:#edb506 url('/images/pug.jpg') no-repeat;
      background-attachment: fixed;
      background-position: bottom right;
      background-size: contain;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      display: grid;
      place-items: center;
      height: 100%;
    }
  
    .login__form {
      max-width: 400px;
      height: 470px;
      margin-left: auto;
      margin-right: auto;
    }
  
    .login__title {
      position: relative;
    }
  
    .login__footer {
      text-align: center;
  
      .login__button {
        bottom: initial;
        position: initial;
        width: 320px;
      }
    }
  }