@import '../../scss/animations';
@import '../../scss/variables';

  
  .login-container {
    // 56 px is the height of the navbar
    min-height: calc(100vh - 56px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    justify-content: center;
    background-color: #fff;
  }
  .login__form {
    background: $realWhite;
    color: $black;
    font-family: "Open Sans", sans-serif;
    border-radius: 5px;
    width: 100%;
    margin: 0 15px;

    .login__header {
      padding-top: 30px;
      text-align: center;
      margin-bottom: 60px;
  
      .login__title {
        font-size: 24px;
        font-weight: 400;
      }
    }
    .login__main {
      max-width: 80%;
      margin-left: auto;
      margin-right: auto;
  
      .login__group {
        position: relative;
  
        .login__input {
          margin-top: 50px;
          padding: 10px 10px 10px 5px;
          color: $black;
          font-family: "Open Sans", sans-serif;
          width: 100%;
          font-size: 16px;
          display: block;
          border: none;
          border-bottom: 1px solid $gray-2;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
  
          &:focus {
            outline: none;
            ~ label {
              top: -20px;
              font-size: 12px;
              text-transform: uppercase;
            }
          }
          &:valid ~ label {
            top: -20px;
            font-size: 12px;
            text-transform: uppercase;
          }
        }
        .login__label {
          color: $black;
          font-family: "Open Sans", sans-serif;
          font-size: 16px;
          font-weight: 400;
          position: absolute;
          pointer-events: none;
          left: 5px;
          top: 10px;
          -webkit-transition: .2s ease all;
          transition: 0.2s ease all;
        }
      }
      .login__terms {
        font-size: 14px;
        color: $gray-5;
        margin: 25px auto;
        line-height: 19px;
        text-align: center;
        a {
          text-decoration: none;
          color: $hyperBlue;
        }
      }
    }
    .login__button {
      font-family: "Open Sans", sans-serif;
      font-weight: 700;
      text-transform: uppercase;
      width: 100%;
      background: $hyperBlue;
      border: none;
      color: $realWhite;
      height: 45px;
      font-size: 14px;
      bottom: 0;
      position: absolute;
    }
    .login__footer{
           margin: 35px 33px;
    }
  }
  .login__button:hover {
    cursor: pointer;
  }
  .login__bar {
    position: relative;
    display: block;
  
    &:before, &:after {
      content: '';
      height: 2px;
      width: 0;
      bottom: 1px;
      position: absolute;
      background: $hyperBlue;
      transition: .2s ease all;
      -moz-transition: .2s ease all;
      -webkit-transition: 0.2s ease all;
    }
    &:before {
      left: 50%;
    }
    &:after {
      right: 50%;
    }
  }
  input:focus ~ .login__bar {
    &:before, &:after {
      width: 50%;
    }
  }

  @media   (min-width: 620px) {
    .login-container {
      // Do not change this color
      // this one matches exactly the background of the dog picture
      background:#edb506 ;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      height: 100%;
    }
    .login__form {
      width: 400px;
      margin-left: auto;
      margin-right: auto;
      
    }
    .login__title {
      position: relative;
    }
    .login__footer {
      text-align: center;
 
      .login__button {
        bottom: initial;
        position: initial;
        width: 320px;
        border-radius: 5px;
      }
    }
  }
  @media  (min-width: 1180px) {
    .login-container {
      // Do not change this color
      // this one matches exactly the background of the dog picture
      background:#edb506 url('/images/pug_f.jpg') no-repeat;
      background-attachment: fixed;
      background-position: bottom left;
      background-size: contain;
    }
    .login__form {
      margin-right: 16vw;
      // animation: jello-horizontal 1s;
    }
  }
  @media (min-width: 1600px) {
    .login-container {
      display: grid;
      place-items: center;
    }
    .login__form {
      margin-right: auto;
    }
  }
